/.idea/.gitignore
/.idea/aws.xml
/chrome/.idea/chrome.iml
/.idea/modules.xml
/.idea/vcs.xml
/chrome/.idea/workspace.xml
/temp/
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/JunieProjectTechnologies.xml
/.idea/watcherTasks.xml
